:root {
	--body-font-family: "Roboto", sans-serif;
	--logo-font-family: "Raleway", sans-serif;
	--font-extra-bold: 800;
	--font-semi-bold: 600;
	--font-size-headings: 18px;
	--font-size-btn: 16px;
	--font-color-white: #ffffff;
	--colorBrand: #4d5ae5;
	--colorHeadings: #2e2f42;
	--background-color-btn: #f4f4fd;
	--color-body-text: #434455;
	--logo-line-height: 1.33;
	--titles-line-height: 1.2;
	--descriptions-line-height: 1.5;
}

body {
	font-family: var(--body-font-family);
	color: var(--colorHeadings);
	letter-spacing: 0.02em;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

/* ------ HEADER ------- */
.header-logo,
.footer-logo {
	font-family: var(--logo-font-family);
	font-weight: var(--font-extra-bold);
	font-size: var(--font-size-headings);
	line-height: var(--logo-line-height);
}

.logo-title {
	font-family: var(--logo-font-family);
	font-weight: var(--font-extra-bold);
	font-size: var(--font-size-headings);
	line-height: var(--logo-line-height);
	color: var(--colorBrand);
}

.header-logo-lastword {
	font-weight: var(--font-extra-bold);
	font-size: var(--font-size-headings);
	line-height: var(--logo-line-height);
	letter-spacing: 0.03em;
	color: var(--colorHeadings);
}

.header-link {
	color: var(--colorHeadings);
	font-weight: var(--font-semi-bold);
	line-height: var(--descriptions-line-height);
}

.header-link:hover,
.header-link:focus {
	color: var(--colorBrand);
}

.header-contacts {
	color: var(--color-body-text);
}

.header-contacts:hover,
.header-contacts:focus {
	color: var(--colorBrand);
}

/*---------HERO--------- */

.hero {
	background-color: var(--colorHeadings);
}

.hero-title {
	font-weight: var(--font-semi-bold);
	font-size: 56px;
	line-height: 1.07;
	color: var(--font-color-white);
}

.hero-btn {
	font-family: inherit;
	font-weight: var(--font-semi-bold);
	font-size: var(--font-size-btn);
	line-height: 1.18;
	letter-spacing: 0.04em;
	color: var(--font-color-white);
	background-color: var(--colorBrand);
	cursor: pointer;
	padding: 16px 32px;
	border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
	color: var(--colorBrand);
	background-color: var(--background-color-btn);
}

/* --------MAIN-------- */

.features-title,
.team-unit-name,
.portfolio-list-title {
	font-weight: var(--font-semi-bold);
	font-size: 20px;
	line-height: var(--titles-line-height);
	color: var(--colorHeadings);
}

.features-description {
	line-height: var(--descriptions-line-height);
	color: var(--color-body-text);
}

.production-title,
.team-title {
	font-weight: var(--font-semi-bold);
	font-size: 36px;
	line-height: 1.11;
	color: var(--colorHeadings);
}

.team {
	background-color: #f4f4fd;
}

.team-title-position {
	line-height: var(--descriptions-line-height);
	color: var(--color-body-text);
}

/* ------PORTFOLIO------- */
.btn-link {
	font-family: inherit;
	font-weight: var(--font-semi-bold);
	font-size: var(--font-size-btn);
	line-height: var(--descriptions-line-height);
	letter-spacing: 0.04em;
	color: var(--colorBrand);
	background-color: var(--background-color-btn);
	cursor: pointer;
	border: 1px solid #e7e9fc;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	width: 116px;
	height: 48px;
}

.btn-link:hover,
.btn-link:focus {
	color: #ffffff;
	background-color: var(--colorBrand);
}

.portfolio-list-description {
	color: var(--color-body-text);
	line-height: var(--descriptions-line-height);
}

/* ---------FOOTER-------- */
.footer {
	background-color: var(--colorHeadings);
}

.footer-logo-lastword {
	font-weight: var(--font-extra-bold);
	font-size: var(--font-size-headings);
	line-height: 1.16;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #f4f4fd;
}

.footer-slogan {
	color: #e7e9fc;
}
