body {
	font-family: "Roboto", sans-serif;
	color: var(--colorHeadings);
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

:root {
	--colorBrand: #4d5ae5;
	--colorHeadings: #2e2f42;
	--background-color-btn: #f4f4fd;
	--color-body-text: #434455;
  --main-background-color: #e5e5e5;
}

/* ------ HEADER ------- */
.header-logo,
.footer-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
}

.logo-title {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	color: var(--colorBrand);
}

.header-logo-lastword {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--colorHeadings);
}

.header-link {
  color: var(--colorHeadings);
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.header-link:hover, .header-link:focus {
  color: var(--colorBrand);
}

.header-contacts {
	letter-spacing: 0.02em;
	color: var(--color-body-text);
}

.header-contacts:hover, .header-contacts:focus {
  color: var(--colorBrand);
}

/*---------HERO--------- */

.hero {
	background-color: var(--colorHeadings);
}

.hero-btn {
	font-family: inherit;
	font-weight: 600;
	line-height: 1.18;
	letter-spacing: 0.04em;
	color: #ffffff;
	background-color: var(--colorBrand);
	cursor: pointer;
}

.hero-title {
	font-weight: 600;
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	color: #ffffff;
}

.hero-btn:hover,
.hero-btn:focus {
	color: var(--colorBrand);
	background-color: var(--background-color-btn);
}

/* --------MAIN-------- */
.features {
  background-color: var(--main-background-color);
}
.production {
	background-color: var(--main-background-color);
}

.features-title {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--colorHeadings);
}

.features-description {
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--color-body-text);
}

.production-title {
	font-weight: 600;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	color: var(--colorHeadings);
}

.team {
	background-color: #f4f4fd;
}

.team-title {
	font-weight: 600;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	color: var(--colorHeadings);
}

.team-unit-name {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--colorHeadings);
}

.team-title-position {
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--color-body-text);
}

/* ------PORTFOLIO------- */
.btn-link {
	font-family: inherit;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--colorBrand);
	background-color: var(--background-color-btn);
	cursor: pointer;
}

.btn-link:hover,
.btn-link:focus {
	color: #ffffff;
	background-color: var(--colorBrand);
}

.portfolio-list-title {
	color: var(--colorHeadings);
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.portfolio-list-description {
	color: var(--color-body-text);
	line-height: 1.5;
	letter-spacing: 0.02em;
}

/* ---------FOOTER-------- */
.footer {
	background-color: var(--colorHeadings);
}

.footer-logo-lastword {
	font-weight: 800;
	font-size: 18px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #f4f4fd;
}

.footer-slogan {
	color: #e7e9fc;
}
